{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Flask-Stripe</h1>
  <br/>
  <p>With this app, you register first, and then you are taken to the member's page where you can then choose to purchase premium content via Stripe.</p>
  <h3>Please login.</h3>
    <br/>
    <form method="post" action="">
      <p>{{ form.name.label }} {{ form.name }}{{ form.password.label }} {{ form.password }}<br/><input type="submit" value="Submit"></p>
    </form>
    <p><em>Need an account? </em><a href="/register">Signup!!</a></p>
{% endblock %}